<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div>
		<center>
			<h1>news_aggregator</h1>
            <a method="POST" href="{% url 'getArticle' %}" class="article_getter">news</a>
        </center>
	</div>
	<div class="card-columns" style="padding: 10px; margin: 20px;">
		{% for article in article_list %}
		<div class="card"">
			<img class="card-img-top" src = "{{ article.image }}">
			<div class="card-body">
				<h5 class="card-title">
					<div class="card-body">
						<a href="{{article.title_url}}"><h5 class="card-title">{{article.title}}</h5></a>
						<p class = "class-body">{{article.summary}}</p>
						<p class = "class-body">{{article.tag}}</p>
					</div>
				</h5>
			</div>
		</div>
		{% endfor %}
	</div>
</body>
</html>
